/* ─── Imagen de Hospedaje ──────────────────────────────────────── */
.hospedaje-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center 80%;
    overflow: hidden;
}

@media (min-width: 1025px) {
    .hospedaje-img {
        width: 35%;
    }
}