<section class="flex flex-col items-center gap-8 sm:gap-11 py-8 px-4 sm:px-6 bg-[rgb(234,228,204)] ">

  <!-- Recuadro Superior: Ceremonia Religiosa -->
  <div
    class="w-full max-w-full sm:max-w-[480px] md:max-w-[560px] bg-[#8d6f40] rounded-sm px-5 sm:px-8 py-5 flex flex-col items-center gap-5">

    <!-- Título -->
    <div class="text-center">
      <h2
        class="text-white text-4xl sm:text-5xl font-light leading-[0.9] tracking-tight uppercase [font-family:'Cormorant_Garamond',serif]">
        Ceremonia<br>Religiosa
      </h2>
    </div>

    <!-- Hora -->
    <div class="flex items-center gap-2 text-white text-sm tracking-wider uppercase">
      <svg class="w-6 h-6 sm:w-7 sm:h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="9" />
        <polyline points="12 7 12 12 9.5 14.5" />
      </svg>
      <span class="text-sm sm:text-base">4 : 3 0 P M</span>
    </div>

    <!-- Lugar -->
    <p class="text-center text-white text-base sm:text-xl tracking-widest uppercase leading-tight">
      Parroquia de Santa María<br>
      de la Natividad<br>
      Atlixco
    </p>

    <!-- Botón ubicación -->
    <a href="https://maps.app.goo.gl/ChvDWEKCnUPRJtNv8" target="_blank" rel="noopener noreferrer"
      class="mt-2 border border-white text-white text-xs sm:text-sm tracking-[0.2em] sm:tracking-[0.25em] uppercase px-6 sm:px-8 py-2 hover:bg-white hover:text-[#8B7740] transition-colors duration-300 cursor-pointer">
      Ver Ubicación
    </a>

  </div>

  <!-- Recuadro Inferior: Recepción -->
  <div
    class="w-full max-w-full sm:max-w-[480px] md:max-w-[560px] min-h-[220px] sm:min-h-[280px] bg-[#8d6f40] rounded-sm px-5 sm:px-8 py-5 flex flex-col justify-center items-center gap-5">

    <!-- Título -->
    <div class="text-center">
      <h2
        class="text-white text-4xl sm:text-5xl font-light leading-[0.9] tracking-tight uppercase [font-family:'Cormorant_Garamond',serif]">
        Recepción
      </h2>
    </div>

    <!-- Lugar -->
    <p class="text-center text-white text-[.75rem] sm:text-sm tracking-widest uppercase leading-tight">
      Al término de la ceremonia religiosa,
      continuaremos esta celebración en 
      Hacienda Santo Cristo.
    </p>

    <!-- Botón ubicación -->
    <a href="https://maps.app.goo.gl/zA2eLVXkHD5BACBA9" target="_blank" rel="noopener noreferrer"
      class="mt-2 border border-white text-white text-xs sm:text-sm tracking-[0.2em] sm:tracking-[0.25em] uppercase px-6 sm:px-8 py-2 hover:bg-white hover:text-[#8B7740] transition-colors duration-300 cursor-pointer">
      Ver Ubicación
    </a>

  </div>

</section>